<div class="form-group">
    <label for="api_name" class="col-sm-2 control-label">Sweety name</label>
    <div class="col-sm-8">
        <input type="api_name" class="form-control" name="api_name" id="api_name" placeholder="" {if="isset($form_data.api_name)"}value="{$form_data.api_name}"{/if} autofocus />
    </div>
</div>
<div class="form-group espace-top-md">
    <label for="api_key" class="col-sm-2 control-label">API key</label>
    <div class="col-sm-8">
        <input type="api_key" class="form-control" name="api_key" id="api_key" placeholder="" {if="isset($form_data.api_key)"}value="{$form_data.api_key}"{/if} />
    </div>
</div>
<div class="form-group">
    <label for="api_token" class="col-sm-2 control-label">API token</label>
    <div class="col-sm-8">
        <input type="api_token" class="form-control" name="api_token" id="api_token" placeholder="" {if="isset($form_data.api_token)"}value="{$form_data.api_token}"{/if} />
    </div>
</div>