<!doctype html>
<html>
<head>
    {include="../inc/head"}
</head>
<body class="index">
    {include="../inc/navbar"}

    <div class="container">
        <ol class="breadcrumb espace-bottom">
            <li><a href="{$URL}">{$app_name}</a></li>
            <li><a href="{$URL}manage">Manage</a></li>
            <li class="active">API</li>
        </ol>

        <div class="page-header no-espace-top espace-bottom">
            <h1>API</h1>
            <div class="title-options">
                <a href="{$URL}manage/api/requests" class="btn btn-link">
                  Manage requests {if="$pending_requests > 0"}<span class="badge">{$pending_requests}</span>{/if}
                </a>
                <a href="{$URL}manage/api/settings" class="btn btn-link">Settings</a>
                <a href="{$URL}manage/api/add" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add</a>
            </div>
        </div>

        {if="isset($message)"}<div class="alert alert-info col-sm-6 col-sm-offset-3 message"><button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> <strong>All right!</strong> {$message}</div>{/if}

        {if="count($apis)>0"}
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Last use</th>
                    <th class="text-center">Access</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {loop="$apis"}
                <tr>
                    <td class="text-center">{$value.id}</td>
                    <td><a href="{$URL}manage/api/view/{$value.id}">{$value.api_name}</a></td>
                    <td>{if="!empty($value.last_timestamp)"}{function="date('r', $value.last_timestamp)"}{else}Never{/if}</td>
                    <td class="text-center">{$value.count}</td>
                    <td class="text-center">
                      <a href="{$URL}manage/api/view/{$value.id}" class="btn btn-primary btn-xs"> View</a>
                      <a href="{$URL}manage/api/delete/{$value.id}/{$extended_token}" class="btn btn-danger btn-xs btn-delete"> Delete</a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {else}
          <p class="margin-bottom">Nothing to display.
            <br> The big button “Add” on the right should be useful ;-)</p>
        {/if}

    </div>

    {include="../inc/footer"}
    {include="../inc/script"}
</body>
</html>
