<!doctype html>
<html>
<head>
	{include="../inc/head"}
</head>
<body class="index">
	{include="../inc/navbar"}
    
    <div class="container">
        <ol class="breadcrumb espace-bottom">
            <li><a href="{$URL}">{$app_name}</a></li>
            <li><a href="{$URL}manage">Manage</a></li>
            <li class="active">Authentification</li>
        </ol>

        <div class="page-header no-espace-top espace-bottom">
            <h1>Authentification</h1>
        </div>

        <form class="form-horizontal" role="form" method="post">
            {if="isset($form_error)"}
            <div class="alert alert-danger col-sm-8 col-sm-offset-2"><strong>Oups!</strong> {$form_error}</div>
            <div class="clearfix"></div>
            {/if}
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" name="email" id="email" placeholder="dude@domain.tld" {if="isset($form_data.email)"}value="{$form_data.email}"{/if} autofocus />
                </div>
            </div>
            <div class="form-group">
                <label for="pass" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="pass" id="pass" placeholder="Fabulous password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="checkbox">
                        <label for="remember">
                            <input type="checkbox" name="remember" id="remember" {if="isset($form_data.remember) && $form_data.remember"}checked{/if} /> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{$token}" name="token" />
            <div class="form-group form-controls">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </form>

    </div>
    
    {include="../inc/footer"}
	{include="../inc/script"}
</body>
</html>