<hr />
<div class="container espace-bottom">
    <p class="pull-left text-muted">
        &copy; {function="date('Y')"} &ndash; {$app_copyright}
        <br /><small><a href="https://github.com/nicolabricot/MoodPicker" rel="external" data-version="{$app_full_version}" data-api-version="{$app_full_api_version}">Mood Picker</a> developed by <a href="http://nicolas.devenet.info" rel="external" class="text-muted">Nicolas Devenet</a></small>
    </p>
    <ul class="nav nav-pills pull-right">
        <li class="tip" data-title="Back to top" data-placement="left"><a href="#" id="back_top"><span class="glyphicon glyphicon-arrow-up"></span><span class="sr-only">Back to top</span></a></li>
    </ul>

    <div class="clearfix"></div>
    <div id="manage-link">
      {if="!$user_isLogged"}
        <a href="{$URL}manage"><span class="glyphicon glyphicon-lock"></span></a>
      {else}
        <a href="{$URL}manage">{$user_email} <span class="glyphicon glyphicon-user"></span></a>
      {/if}
    </div>
</div>
